<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>About Us - General Store</title>
</head>
<body>
    <header>
        <h1>About Us</h1>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>About us</h2>
        <p class="about_us">Welcome to the Virtual Herbal Garden, 
        an open-source initiative dedicated to cultivating knowledge, community, 
        and sustainability through the power of herbal gardening. Our mission is to 
        create a vibrant online space where enthusiasts, learners, and experts can come together 
        to explore the world of herbs, share their experiences, and contribute to a 
        growing repository of information and resources.</p>
    </main>
    <main>
        <h2>Our Vision</h2>
        <p class="about_us">At the Virtual Herbal Garden, we envision a 
        world where everyone has access to the knowledge and tools 
        needed to grow their own herbs, whether for culinary, medicinal, 
        or ornamental purposes. We believe that by fostering a community 
        of passionate individuals, we can promote sustainable practices, 
        enhance biodiversity, and encourage a deeper connection to nature.</p>
    </main>
</body>
</html>
